<div class="container-fluid bg-info">
  <div class="row align-items-center">
    <div class="col-sm-3 order-sm-1 order-1">
      <p id="web-title">ReadyThenRun.com</p>
    </div>
    <div class="col-sm-6 order-sm-2 order-3">
      <ul class="nav justify-content-center nav-link-font">
        <li class="nav-item">
          <a class="nav-link" href="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="android">Android</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="web-app">Web App</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='machine-learning'>Machine Learning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="computer-vision">Computer Vision</a>
        </li>
        <li class="nav-item">
          <a id="my-cv" class="nav-link" href="author">Author</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-3 order-sm-3 order-2">
      <div class="input-group">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <span class="input-group-btn">
            <button type="button" class="btn btn-outline-light btn-warning text-dark" type="submit">Search</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
