<hr class="dashed">
<h4>Keywords</h4>
<button type="button" class="btn btn-outline-primary">Primary</button>
<button type="button" class="btn btn-outline-secondary">Secondary</button>
<button type="button" class="btn btn-outline-success">Success</button>
<button type="button" class="btn btn-outline-danger">Danger</button>
<button type="button" class="btn btn-outline-warning">Warning</button>
<button type="button" class="btn btn-outline-info">Info</button>
<button type="button" class="btn btn-outline-light">Light</button>
<button type="button" class="btn btn-outline-dark">Dark</button>
<hr class="dashed">
<h4>Related Posts</h4>
<div style="list-style-type:none; list-style-position: inside" *ngFor="let title of relatedPosts">
  <p>{{title}}</p>
</div>
<hr class="dashed red">
<h4>Recent Posts</h4>
<div style="list-style-type:none; list-style-position: inside" *ngFor="let title of recentPosts">
  <p class="recent-post"><i>{{title}}</i></p>
</div>
<hr class="dashed">
<div class="dropdown mr-1">
  <button type="button" class="btn btn-outline-dark dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false" data-offset="10,20">
    Archive
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
<hr>
