<hr>
<h4>Keywords</h4>
<button type="button" class="btn btn-outline-primary">Primary</button>
<button type="button" class="btn btn-outline-secondary">Secondary</button>
<button type="button" class="btn btn-outline-success">Success</button>
<button type="button" class="btn btn-outline-danger">Danger</button>
<button type="button" class="btn btn-outline-warning">Warning</button>
<button type="button" class="btn btn-outline-info">Info</button>
<button type="button" class="btn btn-outline-light">Light</button>
<button type="button" class="btn btn-outline-dark">Dark</button>
<hr>
<h4>Recent Posts</h4>
<ul style="list-style-type:none; list-style-position: inside">
  <li>Tamarind Group's CEO was aboard fatal flight</li>
  <li>Soccer player attacked by fan mid-game</li>
  <li>Mysterious prospect may be the next NBA star</li>
  <li>Opinion: Trump takes a moment to gloat</li>
  <li>Justin Amash is the loneliest Republican in Congress</li>
</ul>
<hr>
<div class="dropdown mr-1">
  <button type="button" class="btn btn-outline-dark dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false" data-offset="10,20">
    Archive
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
<hr>
