<div class="card">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h3 class="card-title">Card title</h3>
    <p><span>Date</span><span>keywords</span></p>
    <p class="card-text">The Tamarind Group, which says on its website that it owns and operates several restaurants
      and leisure operations in Africa, announced on Facebook that CEO Jonathan Seex was aboard the flight that crashed
      on Sunday.

      “It is with immense shock and grief to inform you of the tragic news that Tamarind CEO, Jonathan Seex, was on the
      ill-fated Ethiopian Airlines flight," the post read. "Our thoughts and prayers are with his family, friends, the
      Tamarind community and all the others who have suffered unfathomable losses."</p>
    <a href="#" class="btn btn-outline-success">Continue reading</a>
  </div>
</div>
