<footer class="page-footer font-small text-justify text-white bg-main-dark">
  <div class="bg-info">
    <div class="container">
      <div class="row py-4 d-flex align-items-center">
        <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
          <h6 id="connect-warn" class="mb-0">Get connected with us on social networks</h6>
        </div>
        <div class="col-md-6 text-md-right media-log-area">
          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com/profile.php?id=100010454138011">
            <i class="fab fa-facebook-square fa-2x" style="color:blue"></i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic" href="https://twitter.com/Shuaishuai_Li">
            <i class="fab fa-twitter-square fa-2x" style="color: #1da1f3"></i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic" href="https://plus.google.com/u/0/108065949489726197362">
            <i class="fab fa-google-plus-square fa-2x" style="color:#dd4d3f"></i>
          </a>
          <!--Linkedin -->
          <a class="li-ic" href="www.linkedin.com/in/readythenrun">
            <i class="fab fa-linkedin fa-2x" style="color:#0179B3"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center text-md-left mt-5">
    <div class="row mt-3">
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <h5 id="web-addr">ReadyThenRun.com</h5>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p id="confession">"Are you prepared well for future challenges?" The daily question which is asked to myself
          promote me keep runing on the way. </p>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Projects</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">WebCamera-Angular</a>
        </p>
      </div>
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Inner Links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Home</a>
        </p>
        <p>
          <a href="#!">Blogs</a>
        </p>
        <p>
          <a href="#!">Machine Learning</a>
        </p>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home"></i> Univity of Ulm, Ulm 89081, DE
        </p>
        <p>
          <i class="far fa-envelope"></i><a href="mailto:shuaishuai.li@uni-ulm.de"> shuaishuai.li@uni-ulm.de</a>
        </p>
        <p>
          <i class="far fa-envelope"></i><a href="mailto:lishuaishuai012@gmail.com"> lishuaishuai012@gmail.com</a>
        </p>
        <p>
          <i class="fas fa-phone"></i> (+49)159-0538-5593
        </p>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center py-3 bg-copyright">© 2019 Copyright:
    <a href="#">ReadyThenRun.com</a>
  </div>
</footer>
